* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.gitkeep text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.py text eol=lf
requirements.txt text eol=lf
*.dxf text eol=lf
*.scr text eol=crlf
*.lsp text eol=crlf
*.ps1 text eol=crlf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.doc binary
*.docx binary
*.ppt binary
*.pptx binary
